$backgroundcolor: #404040;
$backgroundclaro: #E3DEDD;
$colorfootertext: #CBCBCB;
$recuadros: #4A4A4A;
$textosblancos: #fff;
$textosclaros: #E3DEDD;
$textososcuros: #404040;
$rojos: #FF725E;

$paleta: (
    fondo1: #404040,
    fondo2: #E3DEDD,
    textofooter: #CBCBCB,
    recuadros: #4A4A4A,
    textosblancos: #FFF,
    textosclaros: #E3DEDD,
    textososcuros: #404040,
    rojos: #FF725E
)